<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />

<body>

<div class="container">

    <div th:replace="fragments/bodyHeader :: bodyHeader" />

    <div class="jumbotron">
        <h1>마이너스 장부</h1>
        <p class="lead">회원 기능</p>
        <p>
            <a class="btn btn-lg btn-primary" href="/members/new">회원 등록</a>
            <a class="btn btn-lg btn-primary" href="/members">회원 목록</a>
        </p>

    </div>

    <div th:replace="fragments/footer :: footer" />

</div> <!-- /container -->
</body>
</html>